@model List<ListedGame> // Need to make changes to ui, but data is reaching here
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col justify-start items-start w-full md:w-9/12 h-full bg-slate-950 rounded-b-lg py-2 gap-2 overflow-y-auto"
    style="background: url('/static/images/neon2.jpg') center/cover no-repeat;">

    @foreach (var game in Model)
    {
        <div class="flex justify-start items-start w-full h-52 md:h-40">
            <div class="relative flex justify-center w-2/5 md:w-60 h-full bg-white/20 backdrop-blur-lg">
                <img src="@game.Thumb" class="object-contain w-full h-auto max-h-40" alt="game image">
                @if (game.CheapestPrice == 0.00)
                {
                    <p
                        class="absolute bottom-1 w-auto h-auto text-green-400 text-center text-2xl select-none px-2 py-1 bg-black/40 backdrop-blur-sm rounded-full">
                        Free
                    </p>
                }
                else
                {
                    <p
                        class="absolute bottom-1 w-auto h-auto text-yellow-500 text-center text-2xl select-none p-1 bg-black/40 backdrop-blur-sm rounded-full">
                        $@game.CheapestPrice.ToString("F2")
                    </p>
                }
            </div>
            <div class="flex justify-start items-center relative w-3/5 md:w-1/2 h-full rounded-lg">
                <div
                    class="flex flex-col justify-start items-center w-full h-full bg-violet-950 md:rounded-r-full md:pr-5 gap-2">
                    <h2
                        class="w-4/5 h-1/6 text-white text-center text-lg md:text-lg font-bold overflow-x-hidden overflow-y-hidden text-ellipsis whitespace-nowrap">
                        @game.Title
                    </h2>
                    <div
                        class="w-full h-5/6 flex flex-col justify-start items-center md:rounded-r-full bg-violet-500/60 shadow-sm shadow-black pl-2">
                        <p class="w-full md:w-3/4 h-1/4 text-white text-start text-md md:text-xl">
                            Steam Rating: <span class="text-white">@game.GameID</span>
                        </p>
                        <a href="https://www.cheapshark.com/redirect?dealID=@game.CheapestDealID" target="_blank" class="w-3/4 h-auto text-black text-center text-xl md:text-2xl select-none p-1 border
                        shadow-md shadow-black bg-yellow-500 border-yellow-500 rounded-t-lg border-b-0
                        hover:bg-transparent hover:text-yellow-500 hover:underline hover:shadow-none
                        transition duration-150s ease-in-out">
                            Cheapest Deal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>