@model MyApp.Models.Igdb.IgdbAbout;
<div id="about-container" class="flex flex-col justify-start items-center w-full h-auto py-2 gap-4">
    @if (!string.IsNullOrEmpty(Model.Summary))
    {
        <div class="w-full h-auto bg-purple-800">
            <h3 class="w-auto text-2xl text-white text-center font-bold">Summary</h3>
            <p class="w-full h-auto text-white text-center text-md lg:text-xs xl:text-lg 2xl:text-base text-center text-md">
                @Model.Summary
            </p>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.StoryLine))
    {
        @if (Model.StoryLine.Length <= 300)
        {
            <div class="w-full h-auto max-h-32 bg-purple-900 overflow-hidden">
                <h3 class="w-full text-2xl text-white text-center font-bold">Story</h3>
                <p
                    class="w-full h-auto text-white text-center text-md lg:text-xs xl:text-lg 2xl:text-base text-center text-md line-clamp-3">
                    @Model.StoryLine
                </p>
            </div>
        }
        else
        {
            <div class="relative w-full h-auto max-h-32 bg-purple-900">
                <h3 class="w-full text-2xl text-white text-center font-bold">Story</h3>
                <p
                    class="w-full h-auto text-white text-center text-md  lg:text-xs xl:text-lg 2xl:text-base text-center text-md line-clamp-3">
                    @Model.StoryLine
                </p>
                <button class="absolute -bottom-6 right-0 text-blue-500 border">More</button>
            </div>
        }
    }
</div>
