@model MyApp.Models.Igdb.IgdbMedia;
<div id="videos-container" class="flex flex-col justify-start items-center w-full h-auto gap-4">
    <h4 class="text-3xl text-white font-bold h-auto">Videos</h4>
    <div class="flex flex-wrap justify-center items-center w-full h-auto md:h-full gap-2" style="line-height: 0;">
        @foreach (var youTubeURL in Model.YoutubeLinks)
        {
            <div
                class="animate-pulse w-full md:w-60 lg:w-64 xl:w-72 2xl:w-80 h-64 md:h-36 lg:h-40 xl:h-44 2xl:h-52 shadow-md shadow-black hover:shadow-none md:rounded-md hover:opacity-80 transition-transform duration-100 bg-gray-400">
                <iframe src="@youTubeURL" frameborder="0" class="w-full h-full z-20"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    onload="this.style.opacity = '1'; this.parentElement.classList.remove('animate-pulse');"
                    allowfullscreen></iframe>
            </div>
        }
    </div>
</div>
<div id="images-container" class="flex flex-col justify-start items-center w-full h-auto gap-4">
    <h4 class="text-3xl text-white font-bold h-auto">Images</h4>
    <div id="screenshots" class="flex flex-wrap justify-center items-center w-full h-auto gap-y-1 md:gap-y-1 md:gap-1">
        @foreach (var screenURL in Model.CoverSizeScreensURLs)
        {
            <div
                class="w-1/2 h-30 md:w-60 md:h-60 xl:w-40 xl:h-40 bg-gray-400 flex-shrink-0 border border-purple-300 rounded-sm animate-pulse">
                <img src="@screenURL"
                    class="w-full h-full object-cover shadow-md shadow-black hover:scale-110 hover:rounded-md transition-transform duration-100"
                    onload="this.style.opacity = '1'; this.parentElement.classList.remove('animate-pulse');" />
            </div>
        }
    </div>
</div>