@model Game
@{
    ViewData["Title"] = "Home Page";
}
<div id="tool-bar" class="flex justify-start items-center w-full h-20 bg-slate-950 md:gap-4">
    <div class="flex justify-start md:justify-center items-center w-1/5 md:w-1/12 h-full px-2 md:px-0">
        <a asp-controller="Home" asp-action="Index"
            class="flex justify-center items-center w-full md:w-11/12 h-3/4 md:h-3/5 bg-yellow-500 rounded-lg text-center">Back</a>
    </div>
    <div class="flex justify-start items-center w-4/5 h-full md:w-10/12">
        <h2
            class="text-white text-xl md:text-3xl w-full h-2/5 md:h-3/5 max-h-full text-start overflow-hidden text-ellipsis line-clamp-1 md:line-clamp-2 px-2 md:px-0">
            Viewing: @Model.Title
        </h2>
    </div>
</div>
<section id="game-section"
    class="bg-purple-950 flex flex-col md:flex-row justify-start items-start w-full md:w-10/12 h-full rounded-b-lg md:py-2 overflow-y-auto">
    <div id="board-container"
        class="bg-slate-950 flex flex-col justify-start items-center w-full md:w-1/4 h-auto md:h-full px-2 pt-2">
        <div id="image-container"
            class="flex flex-col justify-center items-center w-auto md:w-auto h-40 md:h-1/4 bg-purple-300/20 border border-purple-300 p-1 my-1 md:my-0 rounded-sm">
            <img src="@Model.Thumb" alt="" class="w-auto h-full object-contain shadow-sm shadow-black">
        </div>
        <div id="content-container" class="flex flex-col justify-start items-start w-full h-auto">
            <div id="group-container"
                class="flex flex-col justify-start items-center w-full h-auto bg-slate-950  md:gap-y-4 overflow-y-auto">
                <div id="deals-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b md:mb-4 border-white">
                        Deals</h3>
                    <ul class="w-3/4 md:w-11/12 h-auto bg-yellow-500 overflow-auto md:rounded-b-md">
                        @foreach (var deal in Model.Deals)
                        {
                            <li
                                class="flex flex0-col justify-center items-start w-full h-12 md:h-auto text-center text-black overflow-hidden">
                                <a href="https://www.cheapshark.com/redirect?dealID=@deal.DealID" target="_blank"
                                    class="flex justify-center items-center z-20 w-full h-full md:h-auto underline text-2xl md:text-2xl md:text-sm hover:bg-yellow-400 hover:bg-gradient-to-r from-purple-950 via-yellow-500 to-purple-950">$@deal.SalePrice:
                                    @deal.StoreName</a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="reviews-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                        Reviews</h3>
                    <div class=" w-full grid grid-cols-1 md:grid-cols-3 p-2 gap-y-8 md:gap-y-6 pb-4 md:pb-0">
                        <div class="w-full h-auto flex flex-col justify-center items-center">
                            <a
                                class="relative flex flex-col justify-start items-center w-24 md:w-16 h-24 md:h-16 rounded-full font-bold cursor-pointer bg-slate-900">
                                <button
                                    class="w-full h-full rounded-full outline outline-green-500 font-bold text-green-500 text-3xl md:text-lg">85</button>
                                <h4
                                    class=" absolute bottom-0 w-auto text-green-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-green-500 px-2">
                                    MetaCritic
                                </h4>
                            </a>
                        </div>
                        <div class="w-full h-auto flex flex-col justify-center items-center">
                            <a
                                class="relative flex flex-col justify-start items-center w-24 md:w-16 h-24 md:h-16 rounded-full font-bold cursor-pointer bg-slate-900">
                                <button
                                    class="w-full h-full rounded-full outline outline-green-500 font-bold text-green-500 text-3xl md:text-lg">83</button>
                                <h4
                                    class=" absolute bottom-0 w-auto text-green-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-green-500 px-2">
                                    OtherCritics
                                </h4>
                            </a>
                        </div>
                        <div class="w-full h-auto flex flex-col justify-center items-center">
                            <a
                                class="relative flex flex-col justify-start items-center w-24 md:w-16 h-24 md:h-16 rounded-full font-bold cursor-pointer bg-slate-900">
                                <button
                                    class="w-full h-full rounded-full outline outline-red-500 font-bold text-red-500 text-3xl md:text-lg">58</button>
                                <h4
                                    class=" absolute bottom-0 w-auto text-red-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-red-500 px-2">
                                    Steam
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="others-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                        Other</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-start w-full md:w-3/4 h-auto md:h-full">
        <h2 class="w-full h-full text-white text-center bg-slate-900/50 text-2xl text-center">
            Render content here,_blank work in progress
        </h2>
        @* Render here depending on click for About or Reviews etc *@
    </div>
</section>