@{
    ViewData["Title"] = "Home Page";
}
<div id="tool-bar" class="flex justify-start items-center w-full h-20 bg-slate-950 md:gap-4">
    <div class="flex justify-start items-center w-4/5 h-full md:w-10/12">
        <h2
            class="text-white text-xl md:text-3xl w-full h-2/5 md:h-3/5 max-h-full text-start overflow-hidden text-ellipsis line-clamp-1 md:line-clamp-2 px-2 md:px-0">
            Hello
        </h2>
    </div>
</div>
<div class="w-full h-full">
    <h2>YouTube Video</h2>

    <iframe src="https://www.youtube.com/embed/bPFJuANnahE" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>